.SetPicPage__root {
  box-sizing: border-box;
  height: 100vh;
  background: #000;
  padding: 24px;
  position: relative;
  .name-img {
    margin-top: 24px;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    .name {
      box-sizing: border-box;
      height: 100px;
      padding: 0 30px;
      border-radius: 20px;
      font-size: 32px;
      line-height: 44px;
      width: 600px;
    }
    .img {
      width: 40px;
      height: 40px;
    }
  }
  .btn {
    // position: absolute;
    // bottom: 80px;
    // left: 50%;
    // width: 80%;
    // transform: translate(-50%);
    // background: #4dcfc5;
    // border-radius: 46px;
    // height: 92px;
    // color: #fff;
    // font-size: 32px;
  }
}
