.UsualMessagePage__root {
  box-sizing: border-box;
  // height: 100vh;
  background: #f3f4f4;
  border-radius: 20px 20px 0 0;

  position: relative;
  .orderTabs {
    background: #f1f2f2;
  }
}

.taroify-tabs__nav--line {
  background: #f1f2f2;
  border-radius: 20px 20px 0 0;
}
.taroify-tabs__line {
  bottom: 28px;
  width: 90px;
  height: 14px;
  background-color: #2ac8be;
  border-radius: 30px;
}
.taroify-tabs__tab {
  font-size: 24px;
}
.taroify-tabs__tab--active {
  font-size: 30px;
}
.taroify-tabs__tab__content {
  z-index: 2;
}
