.SearchPage__root {
  background: #f3f4f4;
  // padding: 0 24px;
  height: 100vh;
  overflow: scroll;
  .all-in {
    padding: 160px 28px 28px;
  }
  .home-header {
    background: #fff;
    padding: 24px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    .now-place {
      display: flex;
      align-items: center;
      .place {
        width: 17px;
        height: 30px;
        padding-right: 32px;
      }
    }
    .search-input {
      box-sizing: border-box;
      height: 60px;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;
      padding: 18px 30px 16px 40px;
      opacity: 0.65;
      background: #f3f4f4;
      border-radius: 50px;
      .input {
        flex: 1;
      }
      .search {
        width: 28px;
        height: 28px;
        padding-right: 18px;
      }
      .del {
        width: 32px;
        height: 32px;
      }
    }
  }
  .home-body {
    text-align: center;
    padding: 40px 0;
    .lose {
      width: 33px;
      height: 30px;
    }
    .route {
      font-size: 28px;
      font-weight: 400;
      color: #666666;
    }
  }
}
.taroify-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
